<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>

	<logger level="error" additivity="false" name="org.apache">
		<appender-ref ref="stderr" />
	</logger>

	<logger level="error" additivity="false" name="com.zaxxer.hikari">
		<appender-ref ref="stderr" />
	</logger>

	<logger level="error" additivity="false" name="org.sql2o">
		<appender-ref ref="stderr" />
	</logger>


	<root level="info">
		<appender-ref ref="stdout" />
	</root>

</configuration>