# PostgreSQL config
POSTGRES_ADMIN_USER=admin
POSTGRES_ADMIN__PASSWORD=securepassword
POSTGRES_DB=main_db
PG_PORT=5432
PG_CONTAINER_NAME=orioledb_oltp1

# Optional custom data directory
PGDATA_HOST_PATH=./pgdata

# Optional custom tablespace mount
TABLESPACE_HOST_PATH=./pg_tablespaces
