# MSSQL Server config
MSSQL_ADMIN_PASSWORD=securepassword
MSSQL_PORT=1433
MSSQL_CONTAINER_NAME=mssql_oltp1

# Optional custom data directory
MSSQL_DATA_HOST_PATH=./mssql_data

# Optional custom log directory
MSSQL_LOG_HOST_PATH=./mssql_logs