# Ignore local MariaDB volumes and metadata
mariadb_data/
mariadb_aux_data/

# Ignore OS cruft
*.DS_Store
Thumbs.db

# Ignore Git and editor junk
.git/
*.swp
*.log
*.bak

# Ignore env files with secrets
.env
env.example