MARIADB_ROOT_PASSWORD=your_securepassword
MARIADB_PORT=3306
MARIADB_CONTAINER_NAME=mariadb_oltp1

# Optional custom data directory
MARIADB_MAIN_DATA_PATH=./mariadb_data

# Optional location for the tpce database data
MARIADB_AUX_DATA_PATH=./mariadb_aux_data